
permanent_folder/data
permanent_folder/teste.py

permanent_folder/output
permanent_folder/output_out
permanent_folder/output_old
permanent_transient_folder/output
permanent_transient_folder/output_out
transient_folder/output
transient_folder/output out
results